# Copy this file to app-secrets.yaml and fill in real values.
# DO NOT commit app-secrets.yaml to version control.
apiVersion: v1
kind: Secret
metadata:
  name: shopkuber-secrets
  namespace: shopkuber
type: Opaque
stringData:
  AUTH_DB_DSN: "postgres://shopkuber:CHANGE_ME@postgres-svc:5432/shopkuber?sslmode=disable"
  CATALOG_DB_DSN: "postgres://shopkuber:CHANGE_ME@postgres-svc:5432/shopkuber?sslmode=disable"
  ORDERS_DB_DSN: "postgres://shopkuber:CHANGE_ME@postgres-svc:5432/shopkuber?sslmode=disable"
  SELLER_DB_DSN: "postgres://shopkuber:CHANGE_ME@postgres-svc:5432/shopkuber?sslmode=disable"
  REVIEWS_DB_DSN: "postgres://shopkuber:CHANGE_ME@postgres-svc:5432/shopkuber?sslmode=disable"
  REVIEWS_PAYMENT_API_KEY: ""
  REVIEWS_PAYMENT_WEBHOOK_SECRET: "CHANGE_ME"
  POSTGRES_DB: shopkuber
  POSTGRES_USER: shopkuber
  POSTGRES_PASSWORD: CHANGE_ME
